<div class="card">
    <div class="card-body">
        <h5 class="titulo">Crear Tarjeta</h5>

        <form>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-circle-user"></i>
                </span>
                <input class="form-control" type="text" placeholder="Titular">
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-credit-card"></i>
                </span>
                <input class="form-control" type="text" placeholder="Numero Tarjeta">
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group  mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                        <input class="form-control" type="text" placeholder="MM/YY">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-key"></i>
                        </span>
                        <input class="form-control" type="password" placeholder="CVV">
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-success btn-lg" type="button"><i class="fas fa-database"></i> Crear</button>
            </div>
            
        </form>

    </div>
</div>