<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listar Tarjeta</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>Numero Tarjeta</td>
                    <td>fecha de expiracion</td>
                    <td><i class="far fa-edit text-info"></i></td>
                    <td><i class="far fa-trash-alt text-danger"></i></td>
                </tr>
                <tr>
                    <td>Nombre 2</td>
                    <td>Numero Tarjeta 2</td>
                    <td>fecha de expiracion 2</td>
                    <td><i class="far fa-edit text-info"></i></td>
                    <td><i class="far fa-trash-alt text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>